/*
$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900
*/

header {
  background-color: #002b36;
}
header > div > .container {
  padding: 20px 10px 100px;
}
nav .nav-tabs {
  border-bottom: 0 solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
  color: #ddd;
  border: 1px solid transparent;
  background-color: transparent;
  margin-right: 2px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #ddd;
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
header .headline {
  padding: 80px 0;
}
header h1 {
  color: #eee8d5;
  margin: 0;
  padding: 10px;
}
header h2 {
  color: #93a1a1;
  margin: 0;
  padding: 10px;
  font-size: 22px;
  font-weight: 300;
}
header .input-group.input-group-lg input,
header .input-group.input-group-lg button.btn {
  font-size: 15px;
}
header form {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
header form a {
  display: inline-block;
  padding: 10px;
  margin: 10px -10px 0 0;
  font-size: 13px;
}

.marketing-item {
  padding: 40px;
}
.marketing-item .container {
  max-width: 750px;
}
.marketing-item img {
  margin: 0 auto;
}
.marketing-item:nth-child(odd) {
  background-color: #eee8d5;
}

footer {
  padding: 40px 10px;
  font-size: 13px;
  color: #657b83;
  background-color: #002b36;
}